image>=1.5.33
cycler>=0.12.1
matplotlib>=3.8.3
numpy>=1.26.4
olefile>=0.47
Pillow>=10.2.0
Pmw>=2.1.1
pyparsing>=3.1.1
python-dateutil>=2.9.0
pytz>=2024.1
six>=1.16.0
timezonefinder>=6.4.1
certifi>=2024.2.2
