image>=1.5.3
cycler==0.10.0
matplotlib==2.0.2
numpy==1.12.1
olefile==0.44
Pillow==8.2.0
Pmw==2.0.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
timezonefinder==2.1.0
certifi>=2017.11.5
