cache_dir=mapcache
gpsbabel_exe=C:\Program Files (x86)\GPSBabel\gpsbabel.exe
img_font=ARIALUNI.TTF
img_font_size=18
tz=8.000000
icon_size=32
def_symbol=Waypoint
max_supp_level=18
min_supp_level=7
split_time_gap=4.000000
split_dist_gap=200.000000
select_area_x=7.000000
select_area_y=5.000000
select_area_align=y
select_area_fixed=y
select_area_level=16
