[Desktop Entry]
Name=Giseditor
GenericName=GIS Editor
Comment=Edit GPS files
Comment[en_CA]=Edit GPS files
Comment[en_GB]=Edit GPS files
Comment[zh_CN]=编辑GPS文件
Comment[zh_TW]=編輯GPS檔案
TryExec=giseditor
Exec=giseditor %F
Terminal=false
Type=Application
Icon=giseditor
Categories=Utility;
StartupNotify=true
MimeType=inode/directory;application/xml;application/octet-stream;image/jpeg;
